In [2]:
# The code was removed by Watson Studio for sharing.

,Country or Area,1990,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009
0,Albania,28385.000000,40311.000000,0.000000,0.000000,0.0,38284.000000,30683.000000,30491.000000,35883.000000,27893.000000,42787.000000,42840.000000,32380.000000,30964.000000,0.000000,0.000000
1,Algeria,76160.000000,90270.000000,53380.000000,74460.000000,66470.0,50150.000000,64430.000000,43840.000000,37317.000000,0.000000,0.000000,0.000000,0.000000,0.000000,100000.000000,0.000000
2,Andorra,539.947998,510.673004,560.340027,434.475006,254.0,450.151001,518.666016,456.626007,565.559021,566.583008,567.044006,530.278015,353.220001,306.630005,0.000000,0.000000
3,Anguilla,93.099998,100.730003,0.000000,0.000000,0.0,0.000000,68.190002,70.730003,68.190002,108.769997,84.250000,124.400002,99.550003,86.290001,96.889999,71.080002
4,Antigua and Barbuda,300.299988,374.500000,323.299988,279.200012,384.5,426.799988,249.600006,238.000000,268.600006,253.899994,426.899994,371.000000,332.799988,293.600006,392.500000,276.899994